/*--------------------------------------------- FIRST PAGE ---------------------------------------------*/

/* NAVBAR */

.ContactMe {
    color: #044499;
}

/* IMAGE & TEXT */

.GSiddharthLogo {
    width: 60px;
    height: 60px;
}

.GSiddarthText{
    font-size: 40px;
    font-weight: bold;
}

.GSiddarthLogoAndText {
    margin-left: 50px;
}

.FirstPageNavbar {
    padding-right: 120px;
}

.FirstPageNavbarButtons {
    font-size: 18px;
    font-weight: bold;
}

.FirstPageContainer {
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 20px;
}

.FirstPageImage {
    width: 75%;
}

.textMessageBox {
    text-align: right;
}

.FirstPageText {
    font-size: 60px;
    font-weight: bold;
    margin-right: -80px;
}

.PdfNoteButton {
    margin-top: 150px;
    margin-right: -75px;
}

/*--------------------------------------------- SECOND PAGE ---------------------------------------------*/

.pageSecond {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f3;
}

/*--------------------------------------------- SECOND PAGE ---------------------------------------------*/

.footer {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    text-decoration: none;
    padding: 20px;
}

.footerCopyrightText {
    padding-left: 20px;
    color: gray;
}